body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}


a  {
   transition: .9s ease-out;
   -webkit-transition: .9s ease-out;
   text-decoration: none;
   color:black;
   font-weight: 700;
}

a:hover {
  color: #436c8a; 
}

nav{
  display:flex;
}

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a img {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
.logo{
  height:140px;
  width:120px;
}

img{
  height:170px;
  width: 170px;
}
ul{
  margin:auto;
}

li{
   margin-bottom: 20px;
}

svg{
  width:30px;
  height:30px;

}

/* --------------------------------------
    Media Queries
-------------------------------------- */

@media (min-width: 450px) { 
 a{
  color:white;
 }

 h1{
  display:none;
 }
 } 

/* --------------------------------------
    Keyframes
-------------------------------------- */
@keyframes grow {
  0%{
    transform: scale(1);
    color:red;
  }

  100%{
    transform:scale(1.1);
    color:red;
  }
}
/* --------------------------------------
    SVG Styles
--------------------------------------- */


.st0 {
  fill: grey;
  transition: transform .7s cubic-bezier(.24,-0.31,0,1.45);
  transform-origin: 50% 50%;
  -webkit-transition-property: transform;
  -webkit-transition-duration: .7s;
  -webkit-transition-timing-function: cubic-bezier(.24,-0.31,0,1.45);
  -webkit-transform-origin: 50% 50%;
}


a:hover .st0 {
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
   fill: rgb(202, 44, 97);
}


#Layer_1{
  width:200px;
  height:200px;
}







